<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="fbox">
                    <ul>
                        <li><a href="#"><img src="../../assets/images/aicon1.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon2.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon3.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon4.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon5.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon6.png"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 pr-0">
                <div class="fbox text-right">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#skill">My Skills</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>