<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-text">
                    <h3 class="tittle-text">About Me</h3>
                    <h6 class="pt-4 pb-2">I am UI/UX front end developer.</h6>
                    <hr>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                       industry. Lorem Ipsum has been the industry's standard dummy text 
                       ever since the 1500s, when an unknown printer took a galley of type 
                       and scrambled it to make a type specimen book. It has survived not 
                       only five centuries 
                    </p>
                    <ul>
                        <li><h4 class="mr-4">Get in touch</h4></li>
                        <li><a href="#"><img src="../../assets/images/aicon1.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon2.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon3.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon4.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon5.png"></a></li>
                        <li><a href="#"><img src="../../assets/images/aicon6.png"></a></li>
                    </ul>
                    <div class="btn-group"  aria-label="First group">
                    <a href="#portfolio" class="primary-btn mr-4 text-decoration-none shadow">Portfolio</a>
                    <a href="#" class="primary-btn text-decoration-none shadow">resume</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="about-text"><img src="../../assets/images/about-img.png" class="img-fluid  pt-5"></div>
            </div>
        </div>
    </div>
</section>