<section id="banner">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12 text-center">
                <div class="profile-text">
                    <h2>Hello’ i am</h2>
                    <h1 class="text-shadow">somnath</h1>
                    <h5>ui/ux front end developer </h5>
                    <ul class="text-center">
                        <li class="shadow-sm"><img src="../../assets/images/html.png"></li>
                        <li class="shadow-sm"><img src="../../assets/images/css.png"></li>
                        <li class="shadow-sm"><img src="../../assets/images/bootstrap.png"></li>
                        <li class="shadow-sm"><img src="../../assets/images/sass.png"></li>
                        <li class="shadow-sm"><img src="../../assets/images/js.png"></li>
                        <li class="shadow-sm"><img src="../../assets/images/jquery.png"></li>
                        <li class="shadow-sm"><img src="../../assets/images/angular.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
